html, body{
    height: 100%;
}

body, td, a, button{
    font-family: arial,sans-serif;
}

.logo-image{
    width : 330px;
}

.top{
    text-align: right;
}

.logo{
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 180px;
}

input{
    width: 678px;
    height: 36px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.lucky_table{
    width: 678px;
    display: block;
    text-align: center;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
}

.lucky_table_col{
    width: 339px;
    align-content: right;
}

.middle{
    text-align: center;
}

.search_bar{
    width: 678px;
}

.search{
    width: 550px;
    border-style: solid; 
    border: 2px;
    border-color: rgb(218, 213, 213);
    box-shadow: 2px 2px 2px 2px rgb(223, 220, 220);
    margin: 0 auto;
}

input{
    border: none;
    width: 100%;
}

.middle_cell{
    column-width: 530px;
}

.luck{
    display: inline-block;
    width: 330px;
    margin-top: 50px;
    clear: both;
    padding-right: 0px;
}

button:hover{
    border: 1px solid rgb(211, 209, 209);
}

button{
    border:none;
    
    color: grey;
    background-color: rgb(245, 240, 240);
    text-align: center;
    font-size: 18px;
    width: 200px;
    padding: 10px;
    font-weight: bold;
    right: 0%;
}

.button_left{
    right: 0%;
}

.bottom{
    bottom:0px;
    padding-bottom: 5px;
    position: absolute;
    color: dimgrey;
    font-size: 18px;
    padding-left:15px;
    width: 100%;
    background-color: #f2f2f2;
}
.line{
    border-bottom: 1px solid darkslategray;
}

.bottom_link{
    padding-left:15px;
    padding-right: 15px;
    padding-bottom: 15px;
    color: dimgrey;
    font-size: 18px;
    text-decoration: none;
}

