html, body{
    height: 100%;
}

.logo-image{
    width : 400px;
}

.logo{
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 180px;
}

input{
    width: 678px;
    height: 36px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.lucky_table{
    width: 678px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.lucky_table_col{
    width: 339px;
    align-content: right;
}

button_left{
}

.search_bar{
    width: 678px;
}

.bottom{
    bottom:0px;
    position: absolute;
}

.middle_celle{
    column-width: 100px;
}